/* You're welcome to change any of this! */

* {
    box-sizing: border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
h1{
    background-color: #EED3C0;
    font-family: 'Bebas Neue', cursive;
    height:60px;
    width: 100%;
    font-size: 50px;
    text-align: center 
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed&display=swap');
main{
    font-family: 'Roboto Condensed Regular', sans-serif, 400;
}





body {
    margin: 0px;
    font-family: 'Roboto Condensed Light', sans-serif, 300;
}
header, section {
    padding: px;
}
p, li {
    line-height: 1.5em;
}



#tutorial {
    background-color: #FFE8D6;
    height:100%;
    width: 1/3;
    align-items: left;

}
#homework{
    background-color: #DBD0BD;
    height:100%;
    width: 1/3;
    align-items: center;

}

#inspiration {
    background-color:#BBB8A4;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: left;

}