* {
    box-sizing: border-box;
}

header{
    background-color: #EED3C0;
    padding: 0.5 px;
    height: auto;
    min-height: 40vh;
    max-width:100px;
    text-align: center;
}


#inspiration{
    background-color: #BBB8A4;
}

body {
    margin: 0px;
}
section {
    padding: 0.5 px;
    height: auto;
    min-height: 40vh;
    max-width:100px;
}

main{
    background-color: #DBD0BD;
}

li {
    line-height: 1.5em;
}
