body {
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    color: #fff;
}
a, a:hover, a:visited, a:active { 
    color: #fff;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

/**********/
/* Layout */
/**********/
aside, footer, header, nav, section, article {
    display: flex;
    flex-direction: column;
}
body {
    overflow: hidden;
    margin: 0px;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: auto 100px;
    grid-template-areas:
       "left main"
       "bottom bottom";
    height: 100vh;
}
aside {
    background-color: #000;
    grid-area: left;
}
header {
    background: #111;
    position: fixed;
    width: calc(100vw - 250px);
    left: 250px;
}

main {
    background: #111;
    grid-area: main;
    min-height: calc(350px);
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    z-index: 3;
}

nav {
    margin-top: 100px;
}

footer {
    background: #222;
    grid-area: bottom;
}


/***************************/
/* Accessories & Florishes */
/***************************/
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    border-radius: 16px;
    background-clip: padding-box;
    min-height: 30px;
}
::-webkit-scrollbar-thumb {
    background-color: hsla(0,0%,100%,.3);
}

/***************************/
/* Part A: Left Navigation */
/***************************/
/* Your Code Here */

aside{
    display: flex;
    align-items: left;
    top: 0;
    padding-left: 20px;
    padding-right: 20px;
}

#headphone{
    border-left: solid 3px green;
}

a, a:link, a:hover, a:hover, a:visited {
    color:rgb(204, 202, 202);
    border-left: solid 3px transparent;
    padding: 5px;
    text-decoration: none;
}
aside a:hover{
    color: white;
    text-decoration: none;
}


/********************************/
/* Part B: Header & Nav Styling */
/********************************/

/* Your Code Here */
header {
    display:flex;
    flex-direction: row;
    justify-content: right;
    
}

#upgrade{
    border:solid 1px rgb(204, 202, 202);
    border-radius: 45px;
    border-left-width: 20px;
    border-right-width: 20px;
    border-block-end-style: #000;
    border-block-start-style:#000;
}
#profile{
    border:solid 1px rgba(93, 86, 86, 0.929);
    background-color: rgba(93, 86, 86, 0.929);
    border-radius: 45px;
    font:bold rgb(204, 202, 202);
    border-left-width: 20px;
    border-right-width: 20px;

}
header a:hover{
    color: #fff;
}
nav {
    display:flex;
    flex-direction: row;
    justify-content: left;

}
nav a:hover{
    border-bottom: solid 3px green;
    color: white;
    text-decoration: none;
}
#artists{
    border-bottom: solid 3px green;
}



/*************************/
/* Part C: Artists Panel */
/*************************/

/* Your Code Here */

.artist-card{
    height:400px;
    width: 20%;
    padding:10px;
}

.artist-card > div{
    background-color:rgb(59, 56, 56);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.artist-card img{
    width: 100%;
    border-radius: 60%;
    padding-bottom: 10px;
}

#featured-content{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.artist-card button{
    display:None;
    border-radius: 100px;
    color: green;
    background-color: rgba(172, 255, 47, 0.707);
    border: solid 1px  rgba(172, 255, 47, 0.707) ;
}

.artist-card:hover button, .artist-card:hover {
    display: block;
}

p{
    color:rgb(204, 202, 202);
}
h2{
    font-size: 22px;
}




/**************************/
/* Part D: Responsive UIs */
/**************************/

/* Your Code Here */

@media (max-width:1024px){
    .artist-card{
        height:400px;
        width:33.3%;
        padding:20px;
    }
}
@media (max-width:600px){
    aside{
        display:none;
    }
    #upgrade{
        display:none;
    }
    body {
        overflow:hidden;
        margin:grid;
        display: grid;
        grid-template-columns: auto;
        grid-template-areas:
            "main"
            "bottom";
        height: 100vh;
    }
    .artist-card{
        height:400px;
        width:50%;
        padding:20px;
    }
}